ul,li{
	display: block;
	padding: 0;
	margin: 0;
}

.menu_link{
	margin: 0 57px;
}

.navbar{
	margin-top: 8px;
}

.menu_link a{
	font-size: 20px;
	font-weight: 700;
	color: #000;
}

.menu_icon i{
	position: relative;
	top: 27px;
}

.background{
	background-color: beige;
	border-radius: 30px;
}