body{
	font-family: 'Courier Prime', monospace;
}

ul,li{
	display: block;
}

.menu_link{
	margin-top: 0px;
	margin-right: 30px;
}

.navbar{
	margin-top: 8px;
}

.menu_link a{
	font-size: 25px;
	font-weight: 700;
	color: black;
}

.nameshop{
	font-size: 40px;
	font-weight: 800;
	color: #000;
	padding-top: 20px;
}

.nameshop:hover{
	font-size: 40px;
	font-weight: 800;
	color: #000;
	padding-top: 20px;
	display: inline-block;
	animation: flip;
	animation-duration: 4s;
}

.namevtixomomute{
	font-size: 40px;
	font-weight: 800;
	color: #000;
	padding-top: 20px;
	padding-right: 150px;
}

.namevtixomomute:hover{
	font-size: 40px;
	font-weight: 800;
	color: #000;
	display: inline-block;
	animation: rubberBand;
	animation-duration: 4s;
	padding-top: 20px;
	padding-right: 150px;
}

.namenoviqdozor{
	font-size: 40px;
	font-weight: 800;
	color: #000;
	padding-top: 20px;
	padding-right: 190px;
}

.namenoviqdozor:hover{
	font-size: 40px;
	font-weight: 800;
	color: #000;
	display: inline-block;
	animation: rubberBand;
	animation-duration: 4s;
	padding-top: 20px;
	padding-right: 190px;
}

.namesad{
	font-size: 40px;
	font-weight: 800;
	color: #000;
	padding-top: 20px;
	padding-right: 370px;
}

.namesad:hover{
	font-size: 40px;
	font-weight: 800;
	color: #000;
	display: inline-block;
	animation: rubberBand;
	animation-duration: 4s;
	padding-top: 20px;
	padding-right: 370px;
}

.description{
	margin-top: -100px;
	padding-left: 800px;
	padding-right: 20px;
	margin-bottom: 20px;
}

.img1{
	margin-top: 20px;
	margin-right: 20px;
}

.img2{
	margin-right: 20px;
}

.img-description1{
	width: 290px;
	height: 200px;
	border-radius: 10px;
	margin-left: 20px;
}

.img-description1:hover{
	width: 290px;
	height: 200px;
	border-radius: 0px;
	margin-left: 20px;
	transition: ease all 1s;
	opacity: 50%;
}

.img-description2{
	width: 130px;
	height: 100px;
	border-radius: 20px;
}

.img-description2:hover{
	width: 130px;
	height: 100px;
	border-radius: 0px;
	transition: ease all 1s;
	display: inline-block;
	animation: jello;
	animation-duration: 4s;
}

.description-font{
	font-size: 20px;
	font-weight: 700;
	color: #b5b5b5;
}

.books{
	font-size: 20px;
	font-weight: 700;
	color: #000;
	transition: ease all 1s;
}

.books:hover{
	font-size: 30px;
	font-weight: 1000;
	color: #000;
	transition: ease all 1s;
	display: inline-block;
	animation: swing;
	animation-duration: 4s;
}

.photo-books img{
	width: 200px;
	height: 270px;
	border-radius: 10px;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.photo-books img:hover{
	width: 200px;
	height: 270px;
	border-radius: 0px;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	opacity: 50%;
	transition: all ease 1s;
}

.vtixomomutebg{
	background-image: url(img/vtixomomutefon.jpg);
	border-radius: 20px 20px 0px 0px;
	height: 700px;
}

.description-books{
	letter-spacing: 2px;
	position: absolute;
	right:10px;
	padding: 10px 90px 100px 170px;
}

.description-books:hover{
	letter-spacing: 2px;
	position: absolute;
	right:10px;
	padding: 10px 90px 100px 170px;
	display: inline-block;
	animation: swing;
	animation-duration: 2s;
}

.menu_icon{
	margin-right: 20px;
}

.menu_icon i{
	font-size: 50px;
	color: black;
}

.menu_icon i:hover{
	font-size: 50px;
	color: #19ff19;
	transition: all ease 1s;
	display: inline-block;
	animation: tada;
	animation-duration: 4s;
}

.icons_vtixomomute{
	padding-right: 500px;
	padding-top: 120px;

}

.icons_noviqdozor{
	padding-right: 500px;
	padding-top: -10px;

}

.icons_sad{
	padding-right: 500px;
	padding-top: -10px;

}

.noviqdozorbg{
	background-image: url(img/noviqdozorfon.jpg);
	height: 700px;
}

.sadbg{
	background-image: url(img/sadfon.jpg);
	height: 700px;
	border-radius: 0px 0px 20px 20px;
}


.menu_icon_twitter{
	padding-right: 0px;
}


.menu_icon_twitter i{
	font-size: 50px;
	color: black;
}

.menu_icon_twitter i:hover{
	font-size: 50px;
	color: #33ccff;
	transition: all ease 1s;
	display: inline-block;
	animation: tada;
	animation-duration: 4s;
}

.menu_icon_vkontakte{
	padding-right: 0px;
}

.menu_icon_vkontakte i{
	font-size: 50px;
	color: black;
}

.menu_icon_vkontakte i:hover{
	font-size: 50px;
	color: #4c75a3;
	transition: all ease 1s;
	display: inline-block;
	animation: tada;
	animation-duration: 4s;
}

.menu_icon_instagram{
	padding-right: 0px;
}


.menu_icon_instagram i{
	font-size: 50px;
	color: black;
}

.menu_icon_instagram i:hover{
	font-size: 50px;
	color: #f09433;
	transition: all ease 1s;
	display: inline-block;
	animation: tada;
	animation-duration: 4s;
}

.menu_icon_pinterest{
	padding-right: 0px;
}


.menu_icon_pinterest i{
	font-size: 50px;
	color: black;
}

.menu_icon_pinterest i:hover{
	font-size: 50px;
	color: #ed0026;
	transition: all ease 1s;
	display: inline-block;
	animation: tada;
	animation-duration: 4s;
}

.social-network-font a{
	font-size: 20px;
	font-weight: 700;
	color: #b5b5b5;
	position: relative;
	top: 10px;
}

.icons_socialnetworks{
	padding-top: 30px;
}

.social_network{
	padding-right: 30px;
}

@media screen and (max-width: 766px){
	.description{
		margin-top: -100px;
		padding-left: 50px;
		padding-right: 350px;
		margin-bottom: 20px;
	}
	.photo-books img{
	width: 200px;
	height: 270px;
	border-radius: 10px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.photo-books img:hover{
	width: 200px;
	height: 270px;
	border-radius: 0px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	opacity: 50%;
	transition: all ease 1s;
}

.icons_vtixomomute{
	padding-right: 600px;
	padding-top: 350px;

}

.icons_noviqdozor{
	padding-right: 600px;
	padding-top: 350px;

}

.icons_sad{
	padding-right: 600px;
	padding-top: 350px;

}

.vtixomomutebg{
	background-image: url(img/vtixomomutefon.jpg);
	border-radius: 20px 20px 0px 0px;
	height: 1100px;
}

.noviqdozorbg{
	background-image: url(img/noviqdozorfon.jpg);
	height: 800px;
}

.sadbg{
	background-image: url(img/sadfon.jpg);
	height: 900px;
	border-radius: 0px 0px 20px 20px;
}

.menu_link{
	margin-top: 0px;
	margin-right: 30px;
}

.header{
	width: 900px;
}

}